<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="On_Thi_Thang_8_2.My.MySettings.QuanLyThuVienConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=QuanLyThuVien;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="Constr" value="server=PHONGNT-PC; database=QuanLyThuVien; Integrated security=true"/>
  </appSettings>
<startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
